*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: blue;
}

aside{
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 1,3rem;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
}

.boton-menu.active {
    background-color: white;
    color: rebeccapurple;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-carrito{
    margin-top: 2rem;
}

.texto-footer{
    color: gray;
    font-size: .85rem;

}

main{
    background-color: aqua;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;

}

.titulo-principal{
    color: rebeccapurple;
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: beige;
    color: black;
    padding: .5rem;
    border-radius: 1rem;
    margin: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 0;
    background-color: white;
    color: rebeccapurple;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: aliceblue;
    color: black;
}